# ⚙️ Python virtual environments
.venv/
env/
__pycache__/
*.py[cod]
*.so

.vscode/
secrets/credentials.json
.env
.deepeval

# Terraform state and vars
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# Terraform crash logs
crash.log
*.tfstate.*

# Plan output
plan.out

# CLI configuration files
.terraform/
.terraform.lock.hcl

# Sensitive variable files
*.tfvars
*.tfvars.json

# Google GCP keys
keys